@charset "utf-8";
body {
  background-image: url("images/background.jpg");
}
#barra {
  background-color: black;
}
#testa {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 1036px;
  margin: 0 auto;
}

#search-button {
  border-color: rgb(255, 69, 0);
  background-color: rgb(64, 64, 64);
  background-image: url("images/Search-button.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
}

#immagine {
  max-width: 1000px;
  min-height: 70px;
  height: 200px;
  background-image: url("images/Legend-of-Zelda-Majoras-Mask-3D.jpg");
  background-size: cover;
  border-radius: 8px;
}

#showcase {
  max-width: 1000px;
  height: 1036px;
  padding: 20px;
  background-color: rgb(240, 240, 240);
  border-radius: 8px;
  flex-wrap: wrap;
}
#steam {
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("images/steam-logo-transparent.png");
  background-size: cover;
  border-radius: 100%;
  margin-left: 0px;
  text-align: right;
  text-decoration: none;
}
#uplay {
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("images/uplay.png");
  background-size: cover;
  border-radius: 100%;
  margin-left: 0px;
  text-align: right;
  text-decoration: none;
}
#rockstar {
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("images/Rockstar.png");
  background-size: cover;
  border-radius: 100%;
  margin-left: 0px;
  text-align: right;
  text-decoration: none;
}
#epic {
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("images/epic.png");
  background-size: cover;
  border-radius: 100%;
  margin-left: 0px;
  text-align: right;
  text-decoration: none;
}
#xbox {
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("images/xbox.png");
  background-size: cover;
  border-radius: 100%;
  margin-left: 0px;
}
#origin {
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("images/origin.png");
  background-size: cover;
  border-radius: 100%;
  margin-left: 0px;
}
#playstation {
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("images/playstation.jpg");
  background-size: cover;
  border-radius: 100%;
  margin-left: 0px;
}
#nintendo {
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url("images/nintendo.png");
  background-size: cover;
  border-radius: 100%;
  margin-left: 0px;
}
#link-container {
  width: 22%;
  background-color: white;
  padding: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 300px;
}
#social-container {
  width: 200px;
  height: 200px;
  margin-left: 1px;
}
#instagram {
  width: 70px;
  height: 70px;
  background-image: url("images/instagram-logo.jpg");
  background-size: cover;
}
#facebook {
  width: 70px;
  height: 70px;
  background-image: url("images/facebook.png");
  background-size: cover;
}
#youtube {
  width: 70px;
  height: 70px;
  background-image: url("images/youtube.png");
  background-size: cover;
  margin-left: 15px;
  margin-top: 10px;
}
#twitch {
  width: 70px;
  height: 70px;
  background-image: url("images/twitch.png");
  background-size: cover;
  margin-top: 10px;
}
#search-bar {
  background-color: rgb(64, 64, 64);
  border-color: rgb(64, 64, 64);
  color: rgb(255, 69, 0);
}
@media (max-width: 600px) {
  #testa {
    flex-flow: column;
  }
}

@media (max-width: 900px) {
  #immagine {
    height: 160px;
  }
}

@media (max-width: 600px) {
  #immagine {
    height: 90px;
  }
}

@media (max-width: 1030px) {
  #link-container,
  #social-container {
    display: none;
  }
}
